numpy>=1.24.*
pandas>=2.0.*
scikit-learn>=1.2.*
torch==2.0.1
torchtext>=0.15.*
nltk>=3.8.*
cleantext>=1.1.*
textblob>=0.17.*
transformers>=4.29.*
streamlit>=1.23.*
plotly>=5.14.*
matplotlib>=3.7.*
seaborn>=0.12.*
gibberish-detector==3.0.0
googletrans==3.1.0a0
torchtext==0.15.0
torchvision==0.15.0
torchdata==0.6.1
