python>=3.11.*
numpy>=1.24.*
pandas>=2.0.*
scikit-learn>=1.2.*
torch==1.11.0
torchtext>=0.15.*
nltk
cleantext
textblob
transformers
streamlit
plotly
matplotlib
seaborn
gibberish-detector
googletrans==3.1.0
