numpy>=1.24.*
pandas>=2.0.*
scikit-learn>=1.2.*
torch
torchtext>=0.15.*
nltk>=3.8.*
cleantext>=1.1.*
textblob>=0.17.*
transformers>=4.29.*
streamlit>=1.23.*
plotly>=5.14.*
matplotlib>=3.7.*
seaborn>=0.12.*
gibberish-detector==0.0.1
googletrans==3.1.0a0
torchdata==0.6.1
